*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}
@font-face {
    font-family: Karla;
    src: url(../Components/fonts/Karla-Medium.ttf);
}
.container{
    width: 100%;
    height: 900px;
    background: #A7D7C5;
    position: relative;
}

.background{
    position: relative;
}
.background .firstImg{
    position: absolute;
    width: 750px;
    height: 750px;
    transform: rotate(-45deg);
    border-radius: 160px;
    background: var(--box, #C1E3D6);
    flex-shrink: 0;
    top: -300px;
    left: -180px;
    z-index: 1;
}
.background .secondImg {
    position: absolute;
    width: 750px;
    height: 750px;
    transform: rotate(-45deg);
    border-radius: 160px;
    background: var(--box, #C1E3D6);
    flex-shrink: 0;
    bottom: -1200px;
    right: -250px;
    z-index: 1;
}

.innerContainer{
    margin: 131px;
    margin-left : 500px;
    position: absolute;
    z-index: 10;
    background: #F6FBF9;
    width: 608px;
    height: 638px;
    border-radius: 49.09px;
    flex-shrink: 0;
    .textArea h1{
        width: 480.231px;
        height: 72.101px;
        color: var(--heading, #212B27);
        text-align: center;
        font-size: 50.226px;
        font-family: Karla;
        font-weight: 700;
        margin-top: 67.5px;
        margin-left: 50px;
    }
    h5 {
        display: flex;
        width: 432.492px;
        height: 59.829px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--h5, #32403B);
        text-align: center;
        font-size: 19.011px;
        font-family: Karla;
        line-height: 29.914px;
        margin-bottom: 26px;
        margin-left: 70px;
    }
    input{
        width: 525.275px;
        height: 64.374px;
        flex-shrink: 0;
        padding-left: 30px;
        margin-left: 40px;
        margin-top: 23px;
        border-radius: 15.341px;
        border: 1.534px solid rgba(0, 0, 0, 0.10);
        background: #FFF;
        color: rgba(0, 0, 0, 0.50);
        // text-align: center;
        font-size: 17.01px;
        font-family: Karla;
        line-height: 19.5px;

    };
    button{
        width: 391.187px;
        height: 90.51px;
        flex-shrink: 0;
        border-radius: 23.011px;
        background: #84C7AE;
        border: none;
        flex-direction: column;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-size: 33.749px;
        font-family: Karla;
        font-weight: 700;
        line-height: 43.874px;
        align-items: center;
        padding: 20px;
        margin-left: 110px;
        margin-top: 32px;
    }
    p{
        width: 326.756px;
        height: 29.147px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--paragraph, #32403B);
        text-align: center;
        font-size: 21.477px;
        font-family: Karla;
        line-height: 27.92px;
        margin-left: 130px;
        margin-top: 20px;

        a{
            color: var(--paragraph, #32403B);
        }
}
   
}